.transform_menu {
    top: 20px;
    right: 20px;
    position: fixed;
    
    opacity: 0.5; /* opacity [0-1] */
    -moz-opacity: 0.5; /* opacity [0-1] */
    -webkit-opacity: 0.5; /* opacity [0-1] */
}

.sm_menu {
    top: 20px;
    left: 20px;
    position: fixed;
    
    opacity: 0.5; /* opacity [0-1] */
    -moz-opacity: 0.5; /* opacity [0-1] */
    -webkit-opacity: 0.5; /* opacity [0-1] */
}

.sm_menu h4, .transform_menu h4 {
    padding: 0px;
    margin: 0px;
}